<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field"> 
<%= f.label "Sua posição no banco de dados (não pode ser alterada):" %><br> 
<%= f.text_field :iduser, value:current_user.id, :readonly => true%> </div>
  <div class="field">
    <%= f.label "Título:" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Altor(a):" %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label "Descrição:" %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label "Está emprestado?" %><br>
    <%= f.check_box :borrow %>
  </div>
  <div class="actions">
    <%= f.submit "Cadastrar Livro"%>
  </div>
<% end %>
