 
<%= form_for(@borrow) do |f| %>
  <% if @borrow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@borrow.errors.count, "error") %> prohibited this borrow from being saved:</h2>

      <ul>
      <% @borrow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field"> 
<%= f.label "Sua posição no banco de dados (não pode ser alterada):" %><br> 
<%= f.text_field :iduser, value:current_user.id, :readonly => true%> </div>
  <div class="field">
    <%= f.label "Título" %><br>
    <%= f.text_field :idtitle %>
  </div>
  <div class="field">
    <%= f.label "Tipo do item:" %><br>
    <%= f.text_field :itemtype %>
  </div>
  <div class="field">
  <div class="field">
    <%= f.label "Quem pegou emprestado?" %><br>
    <%= f.text_field :renter %>
  </div>
  <div class="field">
    <%= f.label "Quando pegou emprestado?" %><br>
    <%= f.text_field :initialdate %>
  </div>
  <div class="field">
    <%= f.label "Quando pretende devolver?" %><br>
    <%= f.text_field :finaldate %>
  </div>
  <div class="actions">
    <%= f.submit "Cadastrar Empréstimo"%>
  </div>
<% end %>
