    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home_user/index">Voltar p/ Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    </li>                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<div class="bannerBorrows"></div>

<h2>Lista de Empréstimo</h2>    
<p id="notice"><%= notice %></p>

<% validation = current_user.id.to_s %>
<%if (@borrows.size > 0)%>
<table border 3 class="tableUser">
  <thead>
    <tr>
      <th WIDTH=100, bgcolor="WHITE">Titulo Emprestado</th>
      <th WIDTH=100, bgcolor="WHITE">Para</th>
      <th WIDTH=100, bgcolor="WHITE">Tipo do Item</th>
      <th WIDTH=100, bgcolor="WHITE">Data Inicial do Empréstimo</th>
      <th WIDTH=100, bgcolor="WHITE">Data Final do Empréstimo</th>
      <th colspan="3" WIDTH=100, bgcolor="WHITE">Gerenciamento</th>
    </tr>
  </thead>

  <tbody>
    <% @borrows.each do |borrow| %>
      <% if(borrow.iduser == validation) %>    
      <tr> 
        <td WIDTH=100, bgcolor="WHITE"><%= borrow.idtitle %></td>
        <td WIDTH=100, bgcolor="WHITE"><%= borrow.renter %></td>
        <td WIDTH=100, bgcolor="WHITE"><%= borrow.itemtype %></td>
        <td WIDTH=100, bgcolor="WHITE"><%= borrow.initialdate %></td>
        <td WIDTH=100, bgcolor="WHITE"><%= borrow.finaldate %></td>
        <td WIDTH=100, bgcolor="WHITE"><%= link_to 'Mostrar', borrow, :class => "btn btn-primary btn-xs active", :role => "button" %></td>
        <td WIDTH=100, bgcolor="WHITE"><%= link_to 'Atualizar', edit_borrow_path(borrow), :class => "btn btn-success btn-xs active", :role => "button" %></td>
        <td WIDTH=100, bgcolor="WHITE"><%= link_to 'Deletar', borrow, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => "btn btn-danger btn-xs active", :role => "button" %></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>Nenhum empréstimo cadastrado</p>
<% end %>

<br>

<%= link_to 'Novo empréstimo', new_borrow_path %>

<div class="bannerBorrows bannerBottom"></div>
