
<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field"> 
<%= f.label "Sua posição no banco de dados (não pode ser alterada):" %><br> 
<%= f.text_field :iduser, value:current_user.id, :readonly => true%> </div>
  <div class="field">
    <%= f.label "Título" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Desenvolvedor(a)" %><br>
    <%= f.text_field :developer %>
  </div>
  <div class="field">
    <%= f.label "Descrição" %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label "Está emprestado?" %><br>
    <%= f.check_box :borrow %>
  </div>
  <div class="actions">
    <%= f.submit "Cadastrar Jogo"%>
  </div>
<% end %>
