// Place all the styles related to the inicio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-image: image-url('background.jpeg');
}

.header {
	background: image-url('mesa.jpeg') center bottom;
	background-size: cover;
	width: 100%;
	height: 250px;
	color: #ffffff;
	text-align: center;
	text-shadow: #000000 2px 2px 2px;
	padding-top: 50px;
}

.tlivro {
	background: image-url('livros.jpeg');
	background-size: cover;
}
.tAlbum {
	background: image-url('discos.jpeg');
	background-size: cover;
}
.tJogo {
	background: image-url('jogos.jpeg');
	background-size: cover;
}

.thumbnail h3 {
	color: #ffffff;
	text-shadow: #000000 2px 2px 2px;
	text-align: right;
}